// Font
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import "utilities/colors";
@import "utilities/variables";
@import "utilities/function";

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: $background;
}

.mobile-only {
    display: none;

    @include small-mobile {
        display: block;
    }
}

.desktop-only {
    display: block;

    @include small-mobile {
        display: none;
    }
}

#audio-button {
    position: fixed;
    z-index: 5;

    bottom: 5vh;
    right: 5vh;

    button {
        width: 52px;
        height: 52px;
        padding: $sizing-standard;
        border: 0;
        border-radius: 50%;

        background-color: $button_background;
        box-shadow: 0px 0px 12px 0px rgba($black, .3);

        img {
            width: 85%;
            object-fit: contain;
        }

        @include small-mobile {
            width: 42px;
            height: 42px;
        }
    }

    @include small-mobile {
        bottom: 3vh;
        right: 3vh;
    }
}

#heading {
    position: relative;
    height: 100vh;

    .heading-background {
        z-index: 0;

        @include large {
            @include absolute-fill;
        }

        @include desktop {
            @include absolute-fill;
        }

        @include tablet {
            @include absolute-fill;
        }

        img:nth-child(2) {
            @include small-mobile {
                display: none;
            }
        }

        .decor {
            height: 100%;

            @include small-mobile {
                position: absolute;
                left: -70%;
            }
        }
    }

    #overlay {
        z-index: 1;
        left: 0;
        background-color: rgba(black, .3);
    }

    .heading-content {
        z-index: 1;

        @include large {
            width: 50%;
        }

        @include small-mobile {
            width: 100%;
        }

        h1 {
            font-family: $accent-font;
            font-size: 64px;

            @include small-mobile {
                font-size: 52px;
            }
        }

        h6 {
            font-family: $primary-font;
            font-size: 18px;
            font-weight: $font-medium;

            @include small-mobile {
                font-size: 14px;
            }
        }

        button {
            background-color: $button_background;
            color: $background;
            font-weight: $font-semibold;
            font-size: 18px;
            padding: $sizing-standard $sizing-standard * 5;
        }
    }
}

#bridge {
    position: relative;
    height: 100vh;

    .container {

        .sep-1 {
            @include absolute-fill;

            z-index: 0;
            width: 100%;
            justify-content: space-between;

            .sep-1-l {
                transform: scaleX(-1);
            }

            img {
                height: 25vh;
            }

            @include small-mobile {
                justify-content: flex-end;

                .sep-1-l {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }

        .content {
            z-index: 1;

            h1 {
                font-family: $accent-font;
                font-size: 64px;

                @include small-mobile {
                    font-size: 52px;
                }
            }

            h4 {
                font-family: $primary-font;
            }

            h6 {
                font-family: $primary-font;
                font-size: 18px;

                @include small-mobile {
                    font-size: 14px;
                }
            }

            .mempelai {

                h6 {
                    font-weight: $font-medium;
                }

                @include small-mobile {

                    h6 {
                        font-size: 16;
                    }
                }
            }

            @include small-mobile {
                padding-top: 15vh;
            }
        }
    }
}

#address {
    position: relative;
    min-height: 100vh;
    padding: $sizing-standard * 4 0;

    .container {

        .sep-2 {
            @include absolute-fill;
            z-index: 0;
            justify-content: space-between;

            height: 25vh;

            .sep-2-r {
                transform: scaleX(-1);
            }

            @include small-mobile {

                .sep-2-r {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }

        .content {
            z-index: 1;

            h6 {
                font-family: $primary-font;
                font-size: 18px;
                font-weight: $font-regular;

                @include small-mobile {
                    font-size: 14px;
                }
            }

            h5 {
                font-family: $primary-font;
                font-weight: $font-regular;

                @include small-mobile {
                    font-size: 16px;
                }
            }

            h4 {
                font-family: $primary-font;
                font-size: 24px;
                font-weight: $font-regular;
                text-decoration: underline;

                @include small-mobile {
                    font-size: 20px;
                }
            }

            h1,
            h2 {
                font-family: $accent-font;
            }

            .hr-h {
                height: 1.3px;
                width: 45vh;
                background-color: black;
            }

            .date-2 {

                .hr {
                    width: 1px;
                    height: 5vh;
                    background-color: black;
                }
            }

            .google-maps-desc {
                color: $background;
            }

            @include small-mobile {
                padding-top: 15vh;

                .hr-h {
                    width: 35vh;
                }
            }
        }
    }
}

#gift {
    position: relative;
    min-height: 100vh;
    padding: $sizing-standard * 10 0;

    .container {

        .sep-3 {
            @include absolute-fill;
            z-index: 0;
            justify-content: space-between;

            margin-top: 15vh;
            height: 15vh;

            .sep-3-l {
                transform: scaleX(-1);
            }

            @include small-mobile {

                .sep-3-l {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }

        .content {
            z-index: 1;
            font-family: $primary-font;

            h6 {
                font-family: $primary-font;
                font-size: 18px;
                font-weight: $font-regular;
            }

            .medium {
                font-weight: $font-medium
            }

            h5 {
                font-weight: $font-regular;
            }

            .bca {
                height: 10vh;
            }

            .hr {
                width: 50%;
                height: 1px;
                background-color: $black
            }

            button {
                background-color: $button_background;
                color: $background;
                font-weight: $font-semibold;
                font-size: 18px;
                padding-top: 1.3vh;
                padding-bottom: 1.3vh;
                padding-left: 8vh;
                padding-right: 8vh;
            }

            .hr-2 {
                width: 100%;
                height: 1.3px;
                background-color: $black;
                margin-top: 5vh;
            }
        }

        .sep-4 {
            @include absolute-fill;
            z-index: -1;
            justify-content: space-between;

            height: 40vh;
            margin-top: 100vh;

            transform: scaleY(-1);

            .sep-4-l {
                transform: scaleX(-1);
            }

            @include small-mobile {

                .sep-4-r {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }
    }
}

#ucapan {
    padding: $sizing-standard * 5 0;

    form {

        input,
        textarea {
            background-color: white;
            border: 0;
            padding: $sizing-standard $sizing-standard * 2;
        }

        button {
            background-color: $button_background;
            border: none;
            color: white;
            font-size: 16px;
            padding: $sizing-standard $sizing-standard * 5;
            margin-left: auto;

            @include small-mobile {
                margin: 0 auto;
                margin-left: auto;
            }
        }
    }

    .hr {
        height: 1px;
        background-color: $black
    }

    .comment-list {
        overflow-y: auto;
        height: 300px;

        @include small-mobile {
            height: 400px;
        }

        .comment {
            h4 {
                font-family: $accent-font;
                font-size: 24px;
            }
        }
    }
}

#footer {
    position: relative;
    padding: $sizing-standard * 12 0;

    .decor {
        position: absolute;
        right: 0;
    }

    .sep-1 {
        @include absolute-fill;

        z-index: 0;
        width: 100%;
        justify-content: space-between;

        @include tablet {
            display: none !important;
        }

        @include small-mobile {
            display: none !important;
        }

        .sep-1-l {
            transform: scaleX(-1);
        }

        img {
            height: 25vh;
        }

    }

    .content {
        z-index: 1;

        @include large {
            width: 50%;
        }

        @include small-mobile {
            width: 100%;
        }

        h1 {
            font-family: $accent-font;
            font-size: 64px;

            @include small-mobile {
                font-size: 52px;
            }
        }

        h6 {
            font-family: $primary-font;
            font-size: 18px;
            font-weight: $font-medium;

            @include small-mobile {
                font-size: 14px;
            }
        }
    }
}

// .content {
//     opacity: 0;
//     transform: translate(0, 10vh);
//     transition: all 1s;
// }

// .content.visible {
//     opacity: 1;
//     transform: translate(0, 0);
// }


html::-webkit-scrollbar,
.comment-list::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: $background;
    border-radius: 10px;
}

.comment-list::-webkit-scrollbar-track {
    background: $background;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb,
.comment-list::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover,
.comment-list::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active,
.comment-list::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}