// Font
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@import "utilities/colors";
@import "utilities/variables";
@import "utilities/function";

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: $background;
}

.mobile-only {
    display: none;

    @include small-mobile {
        display: block;
    }
}

.desktop-only {
    display: block;

    @include small-mobile {
        display: none;
    }
}

#audio-button {
    position: fixed;
    z-index: 5;

    bottom: 5vh;
    right: 5vh;

    button {
        width: 52px;
        height: 52px;
        padding: $sizing-standard;
        border: 0;
        border-radius: 50%;

        background-color: $button_background;
        box-shadow: 0px 0px 12px 0px rgba($black, .3);

        img {
            width: 85%;
            object-fit: contain;
        }

        @include small-mobile {
            width: 42px;
            height: 42px;
        }
    }

    @include small-mobile {
        bottom: 3vh;
        right: 3vh;
    }
}

#heading {
    position: relative;
    // min-height: 100vh;
    // height: 100%;

    .heading-background {
        z-index: 0;

        @include large {
            @include absolute-fill;
        }

        @include desktop {
            @include absolute-fill;
        }

        @include tablet {
            @include absolute-fill;
        }

        img:nth-child(2) {
            @include small-mobile {
                display: none;
            }
        }

        .decor {
            height: 50%;

            @include small-mobile {
                position: absolute;
                left: -70%;
            }
        }
    }

    #overlay {
        @include absolute-fill;
        z-index: 1;
        background-color: rgba(black, .3);
    }

    .heading-content {
        position: relative;
        z-index: 2;

        @include large {
            width: 50%;
        }

        @include small-mobile {
            width: 100%;
        }

        h1 {
            font-family: $accent-font;
            font-size: 64px;

            @include small-mobile {
                font-size: 52px;
            }
        }

        h6 {
            font-family: $primary-font;
            font-size: 18px;
            font-weight: $font-medium;
            margin-bottom: $sizing-standard * 3;

            @include small-mobile {
                font-size: 14px;
            }
        }

        img:nth-child(2){
            @include small-mobile {
                display: none;
            }            
        }

        .copy-button {

            .copy-wa {
                background-color: $button_background;
                color: $background;
                font-weight: $font-semibold;
                font-size: 18px;
                padding-top: 1.3vh;
                padding-bottom: 1.3vh;
                padding-left: 8vh;
                padding-right: 8vh;
                margin-right: 1vh;
                text-decoration: none;
            }

            @include small-mobile {
                flex-direction: column;

                .copy-wa {
                    margin: 0;
                }
            }
        }

        #reciver #nama {
            font-weight: $font-semibold;
        }

        button {
            background-color: $button_background;
            color: $background;
            font-weight: $font-semibold;
            font-size: 18px;
            // padding: $sizing-standard $sizing-standard * 5;
        }
        
    }
}

#bridge {
    position: relative;
    min-height: 100vh;

    .container {

        .sep-1 {
            @include absolute-fill;

            z-index: 0;
            width: 100%;
            justify-content: space-between;

            .sep-1-r {
                transform: scaleX(-1);
                rotate: 25deg;
            }

            img {
                height: 30vh;
                rotate: -25deg;
            }

            @include small-mobile {
                justify-content: flex-end;

                .sep-1-l {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }

        .content {
            z-index: 1;
            padding-top: $sizing-standard * 18;

            h1 {
                font-family: $accent-font;
                font-size: 64px;

                @include small-mobile {
                    font-size: 52px;
                }
            }

            h4 {
                font-family: $primary-font;
            }

            h6 {
                font-family: $primary-font;
                font-size: 18px;

                @include small-mobile {
                    font-size: 14px;
                }
            }

            .mempelai {
                margin-top: $sizing-standard * 6;

                .image-wrapper {
                    position: relative;
                    width: 300px;
                    height: 450px;
                    margin-bottom: $sizing-standard * 6;

                    img {
                        position: relative;
                        width: 300px;
                        height: 450px;
                        object-fit: cover;
                        z-index: 2;
                    }

                    .decor {
                        position: absolute;
                        left: -($sizing-standard + ($sizing-standard / 2));
                        bottom: -($sizing-standard + ($sizing-standard / 2));
                        width: 300px;
                        height: 450px;
                        border: 6px solid $main;
                        z-index: 1;
                    }
                }

                h4 {
                    font-family: $accent-font;
                    font-size: 72px;
                }

                h6 {
                    font-weight: $font-medium;
                }

                @include small-mobile {

                    h6 {
                        font-size: 16;
                    }
                }
            }

            @include small-mobile {
                padding-top: 15vh;
            }
        }
    }
}

#address {
    position: relative;
    min-height: 100vh;
    padding: $sizing-standard * 4 0;

    .container {

        .sep-2 {
            @include absolute-fill;
            z-index: 0;
            justify-content: space-between;

            height: 20vh;
            margin-top: 2vh;

            .sep-2-l {
                transform: scaleX(-1);
                rotate: -15deg;

                @include small-mobile {
                    width: 45vw;
                    object-fit: contain;
                }
            }

            .sep-2-r {
                rotate: 15deg;
            }

            @include small-mobile {

                .sep-2-r {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }

        .content {
            z-index: 1;
            padding-top: $sizing-standard * 12;

            .title-heading {
                width: 75%;

                @include small-mobile {
                    width: 100%;
                }
            }

            .copy-button {

                .copy-wa {
                    background-color: $button_background;
                    color: $background;
                    font-weight: $font-semibold;
                    font-size: 18px;
                    padding-top: 1.3vh;
                    padding-bottom: 1.3vh;
                    padding-left: 8vh;
                    padding-right: 8vh;
                    margin-right: 1vh;
                    text-decoration: none;
                }

                @include small-mobile {
                    flex-direction: column;

                    .copy-wa {
                        margin: 0;
                    }
                }
            }

            h6 {
                font-family: $primary-font;
                font-size: 18px;
                font-weight: $font-regular;

                @include small-mobile {
                    font-size: 14px;
                }
            }

            h5 {
                font-family: $primary-font;
                font-weight: $font-regular;

                @include small-mobile {
                    font-size: 16px;
                }
            }

            h4 {
                font-family: $primary-font;
                font-size: 24px;
                font-weight: $font-semibold;
                text-decoration: underline;

                @include small-mobile {
                    font-size: 20px;
                }
            }

            h1,
            h2 {
                font-family: $accent-font;
            }

            .hr-h {
                height: 1.3px;
                width: 45vh;
                background-color: black;
            }

            .date-2 {

                .hr {
                    width: 1px;
                    height: 5vh;
                    background-color: black;
                }
            }

            .hr {
                width: 100%;
                height: 1px;
                background-color: $black
            }

            @include small-mobile {
                padding-top: 15vh;

                .hr-h {
                    width: 35vh;
                }
            }
        }
    }
}

#gift {
    position: relative;
    padding: $sizing-standard * 10 0;

    .container {

        .sep-3 {
            @include absolute-fill;
            z-index: 0;
            justify-content: space-between;
            top: 2%;
            height: 25vh;

            .sep-3-l {
                transform: scaleX(-1);
                rotate: -15deg;
            }

            .sep-3-r {
                rotate: 15deg;
            }

            @include small-mobile {

                .sep-3-l {
                    width: 200px;
                    object-fit: contain;
                }

                .sep-3-r {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }

        .content {
            z-index: 1;
            font-family: $primary-font;
            padding-top: $sizing-standard * 12;

            h6 {
                font-family: $primary-font;
                font-size: 18px;
                font-weight: $font-regular;
                width: 75%;

                @include small-mobile {
                    width: 100%;
                }
            }

            .medium {
                font-weight: $font-semibold;
            }

            h5 {
                font-weight: $font-regular;
            }

            .bca {
                height: 10vh;
            }

            .hr {
                width: 50%;
                height: 1px;
                background-color: $black
            }

            .copy-button {

                .copy-wa {
                    background-color: $button_background;
                    color: $background;
                    font-weight: $font-semibold;
                    font-size: 18px;
                    padding-top: 1.3vh;
                    padding-bottom: 1.3vh;
                    padding-left: 8vh;
                    padding-right: 8vh;
                    margin-right: 1vh;
                    text-decoration: none;
                }
                
                .copy-address {
                    background-color: $button_background;
                    color: $background;
                    font-weight: $font-semibold;
                    font-size: 18px;
                    padding-top: 1.3vh;
                    padding-bottom: 1.3vh;
                    padding-left: 8vh;
                    padding-right: 8vh;
                }

                @include small-mobile {
                    flex-direction: column;

                    .copy-wa {
                        margin: 0;
                    }
                }
            }

            .hr-2 {
                width: 100%;
                height: 1.3px;
                background-color: $black;
                margin-top: 5vh;
            }
        }

        .sep-4 {
            @include absolute-fill;
            z-index: -1;
            justify-content: space-between;

            height: 40vh;
            margin-top: 100vh;

            transform: scaleY(-1);

            .sep-4-l {
                transform: scaleX(-1);
            }

            @include small-mobile {

                .sep-4-r {
                    visibility: hidden;
                }

                img {
                    height: 15vh;
                }
            }
        }
    }
}

#ucapan {
    padding: $sizing-standard * 5 0;

    form {

        input,
        textarea {
            background-color: white;
            border: 0;
            padding: $sizing-standard $sizing-standard * 2;
        }

        button {
            background-color: $button_background;
            border: none;
            color: white;
            font-size: 16px;
            padding: $sizing-standard $sizing-standard * 5;
            margin-left: auto;

            @include small-mobile {
                margin: 0 auto;
                margin-left: auto;
            }
        }
    }

    .hr {
        height: 1px;
        background-color: $black
    }

    .comment-list {
        overflow-y: auto;
        height: 300px;

        @include small-mobile {
            height: 400px;
        }

        .comment {
            h4 {
                font-family: $accent-font;
                font-size: 24px;
            }
        }
    }
}

#footer {
    position: relative;
    padding: $sizing-standard * 12 0;

    .decor {
        position: absolute;
        right: 0;
    }

    .sep-1 {
        @include absolute-fill;

        z-index: 0;
        width: 100%;
        justify-content: space-between;

        @include tablet {
            display: none !important;
        }

        @include small-mobile {
            display: none !important;
        }

        .sep-1-r {
            transform: scaleX(-1);
            rotate: 15deg;
        }

        .sep-1-l {
            rotate: -15deg;
        }

        img {
            height: 25vh;
        }

    }

    .content {
        z-index: 1;

        @include large {
            width: 75%;
        }

        @include small-mobile {
            width: 100%;
        }

        h1,h2 {
            font-family: $accent-font;
            
            font-size: 48px;

            @include small-mobile {
                font-size: 32px;
            }
        }

        h2 {
            font-family: $primary-font;
        }

        .hr {
            width: 75%;
            border: 1px solid black;
        }

        h6 {
            font-family: $primary-font;
            font-size: 18px;
            font-weight: $font-medium;

            @include small-mobile {
                font-size: 14px;
            }
        }
    }

    img {
        height: 15vh;
    }
}


html::-webkit-scrollbar,
.comment-list::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: $background;
    border-radius: 10px;
}

.comment-list::-webkit-scrollbar-track {
    background: $background;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb,
.comment-list::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover,
.comment-list::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active,
.comment-list::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
}